<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to web scraping site</title>
<link rel="stylesheet" >
</head>
<body>
<header class="jumbotron">
   <div class="container">
                <h2> Welcome to the Camps website!</h2>
                <p>View all the Camps in the czech Republic</p>
                <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new CampGround</a></p>
    </div>
</header>
    
</body>
</html>
    
    